body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 1px rgb(138, 138, 138);
  margin: 48px;
  width: 80%;
  max-width: 800px;
}

.ul-list {
  padding: 0;
  margin: 0;
}

.task {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.input {
  font-style: italic;
  border: none;
  width: calc(100% - 18px);
  height: 3rem;
  padding-left: 1rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  font-size: 1rem;
}

.input:focus-visible {
  outline: auto 0;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin: 1rem;
  flex-shrink: 0;
}

.p {
  margin-left: 1rem;
}

.clear-btn {
  background-color: #f9f9f9;
  color: rgb(65, 65, 65);
  width: 100%;
  height: 3rem;
  border: none;
  cursor: pointer;
}

.enterInput {
  width: 24px;
  height: 24px;
  padding: 13px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.input-container {
  display: flex;
}

.deleteTask {
  width: 24px;
  height: 24px;
  padding: 13px;
  cursor: pointer;
}

.description {
  width: 100%;
  border: none;
  font-size: 1rem;
  height: 48px;
}

.description:focus-visible {
  outline: auto 0;
  background-color: #fffec3;
}

.description-focus {
  background-color: #fffec3;
}

.completeTask {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}
